/* || Typography */

@font-face {
  font-family: "brandon-grotesque"; /*The name you choose goes here*/
  src: url(../fonts/brandon-grotesque-light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "brandon-grotesque"; /*The name you choose goes here*/
  src: url(../fonts/brandon-grotesque-black.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "MetaSerifPro";
  src: url("../fonts/MetaSerifPro-Medium.eot");
  src: local("MetaSerifPro-Medium"),
    url("../fonts/MetaSerifPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MetaSerifPro-Medium.woff2") format("woff2"),
    url("../fonts/MetaSerifPro-Medium.woff") format("woff"),
    url("../fonts/MetaSerifPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MetaSerifPro-Book";
  src: url("MetaSerifPro-Book.eot");
  src: local("MetaSerifPro-Book"),
    url("MetaSerifPro-Book.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MetaSerifPro-Medium.woff2") format("woff2"),
    url("../fonts/MetaSerifPro-Medium.woff") format("woff"),
    url("../fonts/MetaSerifPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MetaSerifPro";
  src: url("MetaSerifPro-Black.eot");
  src: local("MetaSerifPro-Black"),
    url("MetaSerifPro-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MetaSerifPro-Medium.woff2") format("woff2"),
    url("../fonts/MetaSerifPro-Medium.woff") format("woff"),
    url("../fonts/MetaSerifPro-Medium.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "MetaSerifPro";
  src: url("MetaSerifPro-Light.eot");
  src: local("MetaSerifPro-Light"),
    url("MetaSerifPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MetaSerifPro-Medium.woff2") format("woff2"),
    url("../fonts/MetaSerifPro-Medium.woff") format("woff"),
    url("../fonts/MetaSerifPro-Medium.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MetaSerifPro";
  src: url("MetaSerifPro-Bold.eot");
  src: local("MetaSerifPro-Bold"),
    url("MetaSerifPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MetaSerifPro-Medium.woff2") format("woff2"),
    url("../fonts/MetaSerifPro-Medium.woff") format("woff"),
    url("../fonts/MetaSerifPro-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* || Header and Main Navigation */

header {
  display: flex;
  position: absolute;
  /* top: 0; */
  width: 100%;
  min-height: 55px;
  align-items: flex-end;
}
.container {
  background-color: transparent;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
}

/* header .container {
    alig
} */

.a-red {
  color: #cd3944;
  border-bottom: 1px solid transparent;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

#main-nav {
  width: 100%;
  display: none;
}
#main-nav.visible {
  display: block;
}
/* #home h1.push {

} */
#main-nav li {
  padding: 0 25px;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-size: 1.04em;
  text-transform: uppercase;
  font-weight: bold;
}

/* || HOME SECTION */

#home {
  background-color: #d24d57;
  background-size: auto;
  background-image: url("../img/header-bg-640.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0px;
  background-clip: border-box;
  text-align: center;
  color: #fff;
  padding: 2.5em 0;
}

#home h1 {
  font-size: 43px;
  margin-top: 2em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin-bottom: 0.5em;
  width: 100%;
}
#home h2 {
  width: 100%;
  font-size: 1.25em;
  font-family: "MetaSerifPro", Georgia, serif;
  font-weight: 300;
  line-height: 1.30769em;
  transition: all 0.5s ease;
}

#home .check-work {
  /* background: #d24d57; */
  color: #fff;
  border-color: white;
  width: 80%;
  margin: 1.875em auto 0 auto;
  font-size: 1em;
  padding: 1.5em 0;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  /* align-self: center; */
}

/* || PORTFOLIO-DESCRIPTION SECTION */

#portfolio-desc {
  padding: 3.125em 0;
  border-bottom: 1px solid #f1f1f1;
  background: #f8f8f8;
  text-align: center;
}
#portfolio-desc .container {
  /* text-align: center; */
  justify-content: center;
  width: 94%;
  /* margin: 0 auto; */
}
#portfolio-desc h2 {
  font-size: 2.25em;
  color: #3b3838;
  letter-spacing: 4px;
  font-weight: bold;
  margin-bottom: 0.625em;
  text-transform: uppercase;
}

/* || PORTFOLIO CONTENT SECTION */

#portfolio-content {
  background: #fff;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
}

#portfolio-content .container {
  width: 94%;
  justify-content: center;
}

.portfolio {
  padding: 3.125em 0;
  margin: 0 auto;
  z-index: 1;
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
}
.portfolio figure {
  max-width: 960px;
  margin: 0 auto;
}

.portfolio img {
  max-width: 100%;
}

.info-container {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
  align-content: center;
  width: 100%;
}
.portfolio .info-container h3 {
  font-size: 1.875em;
  text-align: center;
  width: 100%;
  font-weight: 500;
  color: #3b3838;
  margin-bottom: 0.83333em;
}

.portfolio .info-container hr {
  width: 10%;
  margin-left: 45%;
  background-color: #c5c5c5;
  height: 0.0625em;
  border: none;
  margin-bottom: 1.5625em;
}
.portfolio .info-container p {
  width: 100%;
  margin-left: 0%;
  font-size: 1.125em;
}
.portfolio .info-container .button {
  border-bottom: 2px solid #cd3944;
}

.portfolio .info-container .see-online {
  margin: 1.875em 0 1.875em 10%;
}

.portfolio .info-container .see-online,
.portfolio .info-container .on-behance {
  color: #d24d57;
  border-color: #d24d57;
}
.portfolio .info-container .on-behance {
  margin: 1.875em 0 0 10%;
}

.portfolio .info-container .online-soon {
  margin: 1.875em 0 1.875em 10%;
  border-color: #c5c5c5;
  color: #c5c5c5;
}
.portfolio .info-container .see-online,
.portfolio .info-container .on-behance,
.portfolio .info-container .online-soon {
  text-decoration: none;
  width: 80%;
  /* margin-top: 1.875em;
  margin-bottom: 3.75em; */
  padding: 1em 0;
  font-size: 0.875em;
}

/* || ABOUT SECTION */

#about {
  padding: 5em 0;
  background: #016052 url(../img/stream-640.jpg) no-repeat;
  color: #fff;
  text-align: center;
}
#about p {
  color: #fff;
  padding: 0;
  line-height: 1.4em;
  margin-top: 1em;
}

#about .container {
  width: 94%;
  justify-content: center;
}

#about h2 {
  font-size: 1.875em;
  letter-spacing: 4px;
  font-weight: bold;
  margin-bottom: 0.625em;
  text-transform: uppercase;
}
#about a {
  border-bottom: 1px solid transparent;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-decoration: none;
  padding: 0 0.3em;
  border-top: 1px solid transparent;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

/* || CONTACT SECTION */

#contact {
  padding: 3.125em 0;
  color: #fff;
  text-align: center;
  background: #d24d57;
}

#contact .container {
  width: 94%;
  justify-content: center;
}

#contact h2 {
  font-size: 1.875em;
  letter-spacing: 4px;
  font-weight: bold;
  margin-bottom: 0.625em;
  text-transform: uppercase;
}

#contact p {
  color: #fff;
}

#contact #send-mail {
  width: 80%;
  /* margin-bottom: 3em; */
  position: relative;
  text-indent: 30px;
  margin: 3em auto 3em auto;
  color: #fff;
  border-color: #fff;
  font-size: 1em;
  padding: 1.5em 0;
}

.icon-mail {
  margin-right: 20px;
  font-size: 1.625em;
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 60px;
  top: 0;
  left: 0;
  text-indent: 0;
}

.icon-twitter {
  color: #00aced;
  margin-right: 20px;
  font-size: 1.625em;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 40px;
  top: 0;
  left: 0;
  text-indent: 0;
}

.icon-dribbble {
  color: #dd3174;
  margin-right: 20px;
  font-size: 1.625em;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 40px;
  top: 0;
  left: 0;
  text-indent: 0;
}

.social-links-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

#social-links {
  width: 100%;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  /* flex-grow: 1; */
}

#social-links li {
  width: 100%;
  padding: 1.25em 0;
  border-right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#social-links a {
  border-bottom: 0;
  font-size: 0.8125em;
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  line-height: 1em;
  transition-property: all, all;
  transition-duration: 0.05s 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s, 0s;
}

/* || FOOTER */

footer {
  padding: 3.125em;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  background: #252525;
}
footer .container {
  width: 94%;
  background: #252525;
  justify-content: center;
  align-content: center;
  padding: 0 0;
}

#copy {
  width: 100%;
  font-size: 0.875em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
}

#copy a {
  color: #d24d57;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition-property: all, all;
  transition-duration: 0.1s, 1s;
  transition-timing-function: ease-in-out, ease;
  transition-delay: 0s, 0s;
}

/* #follow-links {
  width: 100%;
} */
/* #follow-links a {
  background: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  border: 2px solid transparent;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.2);
  padding: 0.5em 1em 0.5em 3em;
  line-height: 2em;
  font-size: 0.75em;
  text-align: center;
  border-radius: 4px;
  transition-property: all, all;
  transition-duration: 0.1s, 1s;
  transition-timing-function: ease-in-out, ease;
  transition-delay: 0s, 0s;
  text-decoration: none;
  position: relative;
} */

#footer-about {
  width: 100%;
  font-size: 1em;
  /* padding: 0 10%; */
  text-align: center;
  line-height: 1.4em;
  margin-top: 2em;
  color: rgba(255, 255, 255, 0.3);
}

#footer-about a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition-property: all, all;
  transition-duration: 0.1s, 1s;
  transition-timing-function: ease-in-out, ease;
  transition-delay: 0s, 0s;
}

#footer .container #twitter {
  width: 80%;
  /* margin-bottom: 3em; */
  position: relative;
  text-indent: 30px;
  margin: 2em auto 0.5em auto;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.2);
  font-size: 0.845em;
  padding: 1em 0;
}

#footer .container #dribbble {
  width: 80%;
  /* margin-bottom: 3em; */
  position: relative;
  text-indent: 30px;
  margin: 0.5em auto 1.5em auto;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.2);

  font-size: 0.845em;
  padding: 1em 0;
}

@media (min-width: 639.98px) and (max-width: 1023.98px) {
  #home {
    background-image: url("../img/header-bg-1024.jpg");
  }
  #about {
    background: #016052 url(../img/stream-1024.jpg) no-repeat;
  }
}

@media (min-width: 1023.98px) and (max-width: 3839.98px) {
  #home {
    background-image: url("../img/header-bg.jpg");
  }
  #about {
    background: #016052 url(../img/stream.jpg) no-repeat;
  }
}

@media (min-width: 639.98px) {
  #home {
    padding: 6.5em 0;
  }
  #home .check-work {
    width: 40%;
  }
  #home h1 {
    font-size: 52px;
  }
  #portfolio-desc h2 {
    font-size: 2.5em;
  }
  #portfolio-desc p {
    font-size: 1.375em;
  }
  .portfolio .info-container p {
    width: 90%;
    margin-left: 5%;
    font-size: 1.3em;
  }
  .portfolio .info-container .on-behance {
    margin-left: 19.5%;
    margin-right: 1%;
  }
  .portfolio .info-container .see-online,
  .portfolio .info-container .on-behance,
  .portfolio .info-container .online-soon {
    width: 30%;
    margin-bottom: 3.75em;
  }
  .portfolio .info-container .see-online,
  .portfolio .info-container .online-soon {
    margin-left: 1%;
  }
  #about h2 {
    font-size: 2.5em;
  }
  #about p {
    font-size: 1.375em;
  }
  #contact .container {
    width: 90%;
  }
  #contact h2 {
    font-size: 2.5em;
  }
  #contact p {
    font-size: 1.375em;
  }
  #social-links li {
    padding: 1.25em 0;

    display: inline-block;
    width: unset;
    border-bottom: 0;
  }
  #social-links .face {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 25px;
  }
  /* #footer .container #twitter {
    width: 40%;
  }
  #footer .container #dribbble {
    width: 45%;
  } */
}
@media (min-width: 768px) {
  .burguer-nav {
    display: none;
  }
  #main-nav {
    display: block;
    position: static;
    width: auto;
  }
  #main-nav li {
    display: inline-block;
  }
  .portfolio .info-container .on-behance {
    margin-left: 27.5%;
  }
  .portfolio .info-container .see-online,
  .portfolio .info-container .on-behance,
  .portfolio .info-container .online-soon {
    width: 22%;
  }
  #contact #send-mail {
    width: 40%;
  }
}

@media (min-width: 1023.98px) {
  #home {
    padding: 8.5em 0;
  }
  #home .check-work {
    width: 30%;
  }
  #home h1 {
    font-size: 71px;
  }
  #portfolio-desc p {
    padding: 0 10%;
  }
  .portfolio .info-container p {
    width: 60%;
    margin-left: 20%;
  }
  .portfolio .info-container hr {
    width: 6%;
    margin-left: 47%;
  }
  #contact #send-mail {
    width: 30%;
  }
  /* .portfolio .info-container .on-behance {
    margin-left: 32.5%;
  } */
}

@media (min-width: 1599.98px) {
  #home {
    background-size: cover;
    max-width: 100%;
  }
  /* .portfolio .info-container .see-online,
  .portfolio .info-container .on-behance,
  .portfolio .info-container .online-soon {
    width: 45%;
  } */
  /* .portfolio .info-container .on-behance {
    margin-left: 0;
    margin-right: 2%;
  }
  .portfolio .info-container h3 {
    text-align: left;
  }
  .portfolio .info-container {
    text-align: left;
  }
  .portfolio .info-container p {
    text-align: left;
    width: 100%;
    margin-left: 0;
  } */
}

/* .linea {
  width: 100%;
} */
